/* Estilos para dispositivos móviles */
.about-us {
  font-size: 15px;
  line-height: 1.2;
  transition: font-size 0.3s, line-height 0.3s;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.about-h1{
  font-size: 100px;
  font-family: 'Style Script';
  text-align: center;
  color: #8adfd1bf;
}

/* Media query para dispositivos de escritorio */
@media (min-width: 768px) {
  .about-us {
    font-size: 20px;
    line-height: 1.8;
    transition: font-size 0.3s, line-height 0.3s;
    line-height: 2;
    margin-left: 200px;
    margin-right: 200px;
  }
}