/* Estilos para dispositivos móviles */
.contact form {
  margin-top: 20px;
  transition: margin-top 0.3s;
}

/* Media query para dispositivos de escritorio */
@media (min-width: 768px) {
  .contact form {
    margin-top: 30px;
    transition: margin-top 0.3s;
  }
  
}