/* Estilos para dispositivos móviles */

.about-us {
  font-size: 20px;
  line-height: 1.6;
  margin-left: 20 px;
}

/* Media query para dispositivos de escritorio */
@media (min-width: 768px) {
  /* Estilos para dispositivos de escritorio */
  .about-us {
    font-size: 18px;
    line-height: 1.8;
  }
}
